html{
    box-sizing: border-box;
}
html:before{
    box-sizing: border-box;
}
html:after{
    box-sizing: border-box;
}
body{
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-color:#000;
}
hr{
        margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}
a{
    color:#000;
}
div{
    margin: 0px; 
    box-sizing: border-box;
    font-family: sans-serif;
}
p{
    font-family: sans-serif;
}

.navbar-fixed-top{
    position:fixed;
    top:0;
    z-index:1030;
}
.navbar_bcs{
    	float:top;

    	background-color: #fff; 
    }
    .container_bcs{
    	padding-right:20px;
        padding-left:20px;
        box-sizing:border-box; 
        display: table;
         margin-right: auto;
         margin-left: auto;
    }
   
    @media(min-width: 1200px){
        .container_bcs{
            width:100%;
        }
        .navbar_bcs{
            width:100%;
        }
        
    } 
    
     @media(min-width: 992px){
        .container_bcs{
            width:100%;
        }
          .navbar_bcs{
            width:100%;
        }
    } 
     @media(min-width: 768px){
        .container_bcs{
            width:100%;
        }
         
    } 
      
     @media screen and (min-width: 400px){
        .container_bcs{
            width:100%;
        }
       .navbar_bcs{
            width:100%;
        }
    } 

    .container-color{
        background-color: #eee;
    }
    
    .navbar_bcs-right{
    	float: right;
        padding-top: 13px;
      /*padding-right: 30px;*/
    }
    .navbar_bcs-brand{
    	float: left;
    	padding:30px 20px; 

    }
    .navbar-padding{
        padding:0px 25px;
    }
    .navbar_bcs .container_bcs .navbar_bcs-brand a{
    	text-decoration: none;
        color:#1BBD36;
        font-family: sans-serif;
        font-weight: 700;
    }
    .navbar_bcs .container_bcs .navbar_bcs-right  ul{
    	list-style:none;
    }
    .navbar_bcs .container_bcs .navbar_bcs-right  li{
    display: inline;
    padding:16px;
    }
    .navbar_bcs .container_bcs .navbar_bcs-right  a{
    /*padding:20px;*/
    text-decoration: none;
    font-size: 18px;
    font-family: sans-serif;
    }
    .img1-custom{
    background-image:url(images/slider/images1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height:760px;
    position: relative;
    }
    .home-margin-top{
        margin-top:140px;
    }
    .margin-content-home{
        margin-top:140px; 
    }
    .margin-content-home h2{
       color: #fff;
        text-transform: uppercase;
        font-size: 50px;
        font-weight: 600;  
        font-family: sans-serif;
    }
     .margin-content-home h2 span{
       color: #1BBD36;;
        text-transform: uppercase;
        font-size: 50px;
        font-weight: 600;  
        font-family: sans-serif;
    }
    .margin-content-home p{
        font-weight: 400;
        font-size: 25px;
        padding-left: 20px;
        font-family: sans-serif;
    }
   
      @media (max-width: 940px){
        /*.home-team .col-size-6{
            width:100% !important;
            text-align: center;
        }*/
      }
    @media (max-width: 768px){
        .navbar-hidden{
            display:none;
        }
        
        .navbar_bcs-right{
            display: none;
    }
    .icon{
        display: inline-block !important;
    }
    .slider-img{
        display: none;
    }
    }
    
    .row_bcs{
    	margin-left: -15px;
    	margin-right: -15px;
        box-sizing: border-box;
        padding:10px;
       
    }
    .no-margin{
        margin: 0px;
        padding:0px;
    }
    .col-size-8{
      
        box-sizing: border-box;
        position: relative;
        min-height: 1px;
        padding: 20px;
    }
    .col-size-6{
    	
        box-sizing: border-box;
        position: relative;
        min-height: 1px;
        padding: 20px
    }
    .col-size-3{
     
        box-sizing: border-box;
        position:relative;
        position: relative;
        min-height: 1px;
        padding:20px; 
    }

    .col-size-4{
      
        box-sizing: border-box;
        position: relative;
        position: relative;
        min-height: 1px;
        padding: 20px;
    }
    .img2-custom{
    	
        border-radius: 5px; 
        width: 100%;
    }
    .about-padding{
    	/*padding:20px;*/
    }
    .col-padding{
        padding: 20px;
    }
    .about-content{
        /*height:290px;*/
        background-color: #eee;
       /* padding: 20px;*/

    } 
   /* .container_about{
        height:100%;
    }*/
    .home{
       
        position:relative;
    }
    .about{
     padding:20px;
    }
    .img-responsive,{
    display: block;
    max-width: 100%;
    height: auto;
    }

    img {
    vertical-align: middle;
    max-width:100%;
    }

    img {
        border: 0;  
        }
    .col-size-6 ul{
        list-style: none;
        -webkit-padding-start: 0px;
    }
    .col-size-8 ul{
        list-style: none;
       
    }
    .palteform .col-size-6 ul li h3 {
        margin:5px 0px;
       color:#1BBD36;
       text-decoration: underline;
       font-family: sans-serif;
    }
    .about-company .col-size-6 ul li h3 {
        margin:5px 0px;
       color:#1BBD36;
       font-family: sans-serif;
    }
    .position_list h1{
        font-size:1.8em;
        font-family: sans-serif;
    }
     .about-company h2 {
       color:#1BBD36;
       font-family: sans-serif;
    }
    .home-team{
       padding:20px;
      
    }
    .navbar_bcs-below{
        height: 60px;
        background-color:#1BBD36;
        margin-top: 80px;
    }
    .navbar_bcs-below .container_bcs ul{
        list-style: none;
        margin: 0px;
        padding: 18px;
    }
     .navbar_bcs-below .container_bcs ul li{
      
        display:inline-block;
        text-decoration: none;
    }
      .navbar_bcs-below .container_bcs ul li+li:before{
        padding:0px 5px;
      content: "/\00a0";
    }
      .navbar_bcs-below .container_bcs ul li a{
        display:inline-block;
        text-decoration: none;
        padding: 0px 10px;
        box-sizing: border-box;
        font-size: 20px;        
    }
    .about-company{
        padding: 20px;
    }
    .img3-custom{
        width:90%;
    }
    .p-style{
        font-size: 18px;
        line-height: 1.5;
    }
    .team-h2{
        text-align: center;
    color: #1BBD36;
    font-weight: 500;
    font-size: 30px;
    font-family: sans-serif;
    }
    .services{
        
    }
    .about-company h4{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    color: #0FA377;
    font-size: 20px;
    font-family: sans-serif;
    }
    .p-team{
    font-weight: 400;
    font-size: 16px;
    font-family: sans-serif;
    }
   

.image4-custom{
    width:100%;
}
.img-responsive{
    display: block;
    max-width: 100%;
}
.career{
    margin: 20px;
}
.position_list{
    margin:20px; 
}
.position_list h4 a{
    text-decoration: none;
    font-size: 18px;
  
    font-weight:400;
}
.career_content{
    margin:20px; 
}
.career_content p{
   font-size: 20px;
   font-weight:normal;
}
.message-center h1{
    text-align: center
}

.form-group_bcs{
    margin-bottom: 10px;
    box-sizing: border-box;
}
.form-group_bcs .form-control_bcs{

    display: block;
    width: 97%;
    height: 34px;
    padding: 7px 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
  
}
textarea {
    height: auto;
    overflow: auto;
}
.button_bcs {
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
}
.button-success_bcs{
    background-color: #5cb85c;
    color:#fff;
}
.button-center button{
  margin-left: 45%;
}

.container_bcs:before,
.container_bcs:after,

.row_bcs:before,
.row_bcs:after,
.form-group_bcs:before,
.form-group_bcs:after,
.navbar_bcs:before,
.navbar_bcs:after,
{
  display: table;
  content: " ";
}

.container_bcs:after,
.row_bcs:after,
.form-group_bcs:after,
.navbar_bcs:after,
{
  clear: both;
}
.footer{
background-color: #1BBD36;
padding: 20px;
}
.footer .col-size-6 ul li{
    display: inline;

}
.fb{
    font-size: 20px;
    color: #ddd;
    padding: 10px;
}
.twitter{
    font-size: 20px;
    color: #ddd;
    padding: 10px;
}
.gplus{
    font-size: 20px;
    color: #ddd;
    padding: 10px;
}
.linkedin{
    font-size: 20px;
    color: #ddd;
    padding: 10px;
}
.ytube{
    font-size: 20px;
    color: #ddd;
    padding: 10px;
}
.float-left{
    float:left;
}
.float-right{
float: right;
padding-right: 30px;
}
.p-margin{
    margin:0px 0px;
}
.margin-top{
    margin-top: 20px;
}
.p-geneza{
    margin: 0px 45px;
}
.margin-query{
    padding-left: 100px;
}
.query{
    background-image:url(images/contact.png);
    background-position-x: 95%;
    background-position-y: 50%;
    background-repeat: no-repeat;
}
.image8-custom{
    width:100%;
}
.container_bcs-full{
    padding: 0px;
}
/*.no-col-margin{
    margin:0px;
}
*/
@media (min-width: 768px){
    .col-size-8{
        width:66.6666%;
        float:left;
    }
    .col-size-6 {
    width: 50%;
    float: left;
   
    }
.col-size-4{
    width: 33.333%;
    float: left;
}
.col-size-3 {
    width: 25%;
    float: left;
}
}
@media (min-width: 768px){
.col-size-3, .col-size-6, .col-size-4 {
    float: left;

}
.col-size-3, .col-size-6, .col-size-4
 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.hidden-up{
    display:none !important ;
}
.align-button{
    display: none;
}

}
@media (min-width: 992px){
    .col-size-8{
        width:66.6666%;
        
    }
    .col-size-6 {
    width: 50%;
   
    }
.col-size-4{
    width: 33.333%;
}
.col-size-3 {
    width: 25%;
  
}
.col-offset-size-6{
    margin-left: 50%
}
.col-offset-size-3{
    margin-left: 25%;
}
.hidden-up{
    display: none;
}
}
@media (min-width: 992px){
.col-size-3, .col-size-6, .col-size-4 {
    float: left;

}
.col-size-3, .col-size-6, .col-size-4
 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.align-button{
    display: none;
}
}

.text-center{
   text-align: center;
   display: block;
}
.fa-custom-size{
    margin-top: 15px;
    margin-right: 10px;
}
.fa-size{
    font-size: 40px !important;
    color: #1BBD36 !important;
    padding:5px; 
    background-color: #000;
    border-radius: 5px;
}
 .icon {
   /* display: none!important;*/
    
    padding:5px 5px !important; 
    float: right;
    font-size: 20px !important;
    border-radius:5px;
    color:#1BBD36;
    margin: 20px;
    background-color: transparent;
}
.home-team .container_bcs .col-size-6 h2{
color:#1BBD36;
}
.home-team h1{
color:#1BBD36;
}

