.navbar_bcs{
    	float:top;
    	width: 100%;
    	height:50px;
    	top:0;
    /*	position: relative;*/
    /* min-height: 50px; */
    /* margin-bottom: 20px; */
    }
    .container_bcs{
    	margin-right: auto;
    	margin-left: auto;
    	padding-right: 15px;
    	padding-left: 15px;
    }
    .navbar_bcs-right{
    	float: right;
    }
    .navbar_bcs-brand{
    	float: left;
    	padding:20px; 
    }
    .navbar_bcs .container_bcs .navbar_bcs-brand a{
    	text-decoration: none;
    }
    .navbar_bcs .container_bcs .navbar_bcs-right  ul{
    	list-style:none;
    }
    .navbar_bcs .container_bcs .navbar_bcs-right  li{
    display: inline;
    }
    .navbar_bcs .container_bcs .navbar_bcs-right  a{
    padding:20px;
    text-decoration: none;
    }
    .img1-custom{
    	width:100%;
    	height:10%;
    }
    .container_full{
    	margin-left: -8px !important;
    	margin-right: -8px !important;
    }
    .row{
    	margin-left: -15px;
    	margin-right: -15px;
    }
    .col-size-6{
    	width:50%;
    	float:left;
    }
    .img2-custom{
    	width:100%;
    }
     .about-padding{
    	padding:20px;
    }